@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {
    body{
        background-image: linear-gradient(to top,#0C28ED ,#1699E1,#0CE3F7);
    }
    section#login{
        width:80vw
    }
    section#login>div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login>div#formolario{
        float: right;
        width: 70%;
        
    }  
}
@media screen and (min-width:992px){
    body{
        background-image: linear-gradient(to top,#0C28ED ,#1699E1,#0CE3F7);
    }

    section#login{
        width: 950px;
    }
    section#login>div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login>div#formolario{
        float: left;
        width: 50%;
        height: 100%;
    }
    div#formulario > h1{
        font-size: 2em;
    }
    div#formulario > p{
        font-size: 1.2em;
      }

      
} 